/* Lab18_1 */
/* Стили для основного меню */
.menu {
  width: 200px;
  background-color: #333;
}

.main-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.main-menu li {
  position: relative;
}

.main-menu li a {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 10px 15px;
  transition: background-color 0.3s;
}

.main-menu li a:hover {
  background-color: #555;
}

/* Стили для второго уровня меню */
.sub-menu {
  display: none;
  position: absolute;
  top: 0;
  left: 200px;
  background-color: #444;
  list-style: none;
  padding: 0;
  margin: 0;
}

.sub-menu li a {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 10px 15px;
}

/* Показываем второй уровень меню при наведении на элемент основного меню */
.main-menu li:hover .sub-menu {
  display: block;
}

/* Lab18_2 */
/* Стили для контейнера с изображением */
.image-container {
  width: 300px; /* Начальная ширина контейнера */
  overflow: hidden; /* Обрезаем изображение, если оно выходит за пределы контейнера */
  transition: width 0.5s ease-in-out; /* Плавный переход для изменения ширины */
}

/* Стили для изображения */
.image-container img {
  width: 100%; /* Изображение занимает всю ширину контейнера */
  height: auto; /* Автоматическое изменение высоты для сохранения пропорций */
}

/* Стили для увеличения при наведении */
.image-container:hover {
  width: 400px; /* Новая ширина контейнера при наведении */
}