div {
  transform: skew(20deg, 0deg);
  margin-left: 20%;
}
p {
  white-space: pre-line;
  margin: 0;
}
p::first-letter {
  color: red;
  font-size: 150%;
}
.orbit {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 2px solid gray;
  position: relative;
  margin: 50px auto;
  animation: rotate 8s linear infinite;
}

.satellite {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: red;
  position: absolute;
  top: 100%;
  left: -125px;
  transform: translateY(-50%);
  animation: orbit 8s linear infinite, color 4s ease-in-out infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes orbit {
  from {
    transform: translateX(0) rotate(0deg);
  }
  to {
    transform: translateX(70px) rotate(360deg);
  }
}

@keyframes color {
  0% {
    background-color: red;
  }
  25% {
    background-color: blue;
  }
  50% {
    background-color: green;
  }
  75% {
    background-color: yellow;
  }
  100% {
    background-color: red;
  }
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 1000px;
  margin: 0 auto;
}

.box {
  width: 50px;
  height: 50px;
  background-color: white;
  border: 1px solid red;
  margin-bottom: 20px;
  transition: transform 0.5s ease-in-out;
}

.box:hover {
  transform: scale(1.1);
  transform: rotate(200deg);
}
