.myblockTest {
  width: 200px;
  height: 200px;
  border-top: 5px solid rgb(230, 18, 226);
  border-bottom: 5px dotted rgb(230, 18, 226);
  border-left: 3px dashed rgb(14, 173, 185);
  border-right: 7px double rgb(232, 192, 61);
  text-align: center;
}
.myblock {
  width: 150px;
  height: 40px;
  border-top: 10px solid rgb(255, 0, 0);
  border-bottom: 10px solid rgb(2, 255, 86);
  border-left: 10px solid rgb(14, 173, 185);
  border-right: 10px solid rgb(232, 192, 61);
  text-align: center;
}
.myblock2 {
  width: 150px;
  height: 40px;
  border-top: 10px solid rgb(255, 0, 0);
  border-bottom: 10px solid rgb(2, 255, 86);
  border-left: 10px solid rgb(14, 173, 185);
  border-right: 10px solid rgb(2, 255, 86);
  text-align: center;
}

.myblock3 {
  width: 150px;
  height: 40px;;
  border-top: 10px solid rgb(255, 0, 0);
  border-bottom: 10px solid rgb(255, 0, 0);
  border-left: 10px solid rgb(2, 255, 86);
  border-right: 10px solid rgb(2, 255, 86);
  text-align: center;
}

.myblock4 {
  width: 150px;
  height: 20px;
  border-top: 10px solid rgb(255, 0, 0);
  border-bottom: 10px solid rgb(255, 0, 0);
  border-left: 10px solid rgb(255, 0, 0);
  border-right: 10px solid rgb(255, 0, 0);
  text-align: center;
}
