.object1 {
  width: 50px;
  height: 50px;
  background-color: aqua;
  position: absolute;
  top: 0;
  left: 0;
  animation: move1 6s linear infinite;
}

.object2 {
  width: 50px;
  height: 50px;
  background-color: forestgreen;
  position: absolute;
  top: 0;
  right: 0;
  animation: move2 6s linear infinite;
}

@keyframes move1 {
  0% {
    left: 0;
    top: 420px;
  }
  50% {
    left: 300px;
    top: 420px;
  }
  100% {
    left: 0;
    top: 420px;
  }
}

@keyframes move2 {
  0% {
    right: 0;
    top: 420px;
  }
  50% {
    right: 920px;
    top: 420px;
  }
  100% {
    right: 0;
    top: 420px;
  }
}
