.square-1 {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -25px;
  margin-left: -25px;
  background-color: red;
  animation-name: move-1;
  animation-duration: 12s;
  animation-timing-function: linear;
  animation-iteration-count: 3;
}

.square-2 {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -25px;
  margin-left: -25px;
  background-color: blue;
  animation-name: move-2;
  animation-duration: 12s;
  animation-timing-function: linear;
  animation-iteration-count: 3;
}

@keyframes move-1 {
  0% {
    top: 0;
    left: 0;
    background-color: gold;
  }
  25% {
    top: 0;
    left: 700px;
    background-color: hotpink;
  }
  50% {
    top: 700px;
    left: 700px;
    background-color: yellow;
  }
  75% {
    top: 700px;
    left: 0;
    background-color: green;
  }
  100% {
    top: 0;
    left: 0;
    background-color: cornflowerbluex;
  }
}

@keyframes move-2 {
  0% {
    top: 700px;
    left: 700px;
    background-color: cornflowerblue;
  }
  25% {
    top: 0;
    left: 0;
    background-color: green;
  }
  50% {
    top: 0;
    left: 700px;
    background-color: yellow;
  }
  75% {
    top: 700px;
    left: 0;
    background-color: hotpink;
  }
  100% {
    top: 700px;
    left: 700px;
    background-color: gold;
  }
}
